# See https://github.com/seddonym/import-linter

[importlinter]
root_package = dmr
include_external_packages = True
exclude_type_checking_imports = True


[importlinter:contract:layers]
name = Layered architecture of our project
type = layers

containers =
  dmr

layers =
  routing
  controller
  options_mixins
  endpoint
  validation
  components
  negotiation
  response
  plugins
  serializer
  openapi
  headers | cookies
  types
  settings
  exceptions
  envs

ignore_imports =
  # Mixin validation:
  dmr.validation.* -> dmr.options_mixins
  # Settings can clear cache:
  dmr.settings -> dmr.internal.cache
  # Settings can initialize default OpenAPI config:
  dmr.settings -> dmr.openapi.config


[importlinter:contract:no-optional-deps]
name = Do not use these optional dependencies outside of plugins
type = forbidden

source_modules =
  dmr

forbidden_modules =
  # optinal deps:
  pydantic
  msgspec
  jwt
  # internal modules:
  dmr_pytest
  django_test_app

ignore_imports =
  # Pydantic plugin:
  dmr.plugins.pydantic -> pydantic
  dmr.plugins.pydantic.* -> pydantic
  # Msgspec plugin:
  dmr.plugins.msgspec -> msgspec
  dmr.plugins.msgspec.* -> msgspec
  # jwt auth:
  dmr.security.jwt -> jwt
  dmr.security.jwt.* -> jwt
  # Optional json support from msgspec:
  dmr.settings -> msgspec
  dmr.internal.json -> msgspec

[importlinter:contract:plugins-independence]
name = All `plugins` must be independent
type = independence

modules =
  dmr.plugins.*


[importlinter:openapi:layers]
name = Layered architecture of OpenAPI schema generation
type = layers

containers =
  dmr.openapi

layers =
  spec
  views | core
  converter | generators
  extractors | collector | config
  types
  objects

[importlinter:openapi:generators-independence]
name = All OpenAPI `generators` must be independent
type = independence

modules =
  dmr.openapi.generators.*

[importlinter:openapi:renderers-independence]
name = All OpenAPI `renderers` must be independent
type = independence

modules =
  dmr.openapi.objects.*

[importlinter:openapi:objects-independence]
name = All OpenAPI `objects` must be independent
type = independence

modules =
  dmr.openapi.views.*

ignore_imports =
  # Allow import base render class:
  dmr.openapi.views.* -> dmr.openapi.views.base
