{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title|default:"Scalar API Reference" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <div id="scalar-app"></div>
  {{ schema|json_script:"scalar-schema" }}

  {% if scalar_cdn %}
    <script src="{{ scalar_cdn }}"></script>
  {% else %}
    <script src="{% static 'dmr/scalar/1.49.2/scalar.min.js' %}"></script>
  {% endif %}

  <script src="{% static 'dmr/scalar/init.js' %}"></script>
</body>
</html>
